{% extends 'basic.html' %} {% load staticfiles %} {% load i18n %} {% load
account %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <div id="chat-body" class="panel panel-default">
    <div class="panel-heading">Chat Box</div>
    <div id="msg-list-div" class="panel-body">
      <ul id="msg-list" class="list-group">
        {% for obj in chat %} {% if obj.user == request.user %}
        <li class="text-right list-group-item">
          {{ obj.message }} {{ 'by' }} {{ obj.user.username }} on {{obj.created}}
        </li>
        {% else %}
        <li class="text-left list-group-item">
          {{ obj.message }} {{ 'by' }} {{ obj.user.username }} on {{obj.created}}
        </li>
        {% endif %} {% empty %}
        <li class="text-right list-group-item">No messages yet!</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form
    id="chat-form"
    method="post"
    action="{% url 'chatpost' %}"
    data-spy="affix"
    data-offset-bottom="10"
  >
    {% csrf_token %}
    <div id="chat-bottom" class="input-group">
      <input type="text" id="chat-msg" name="chat-msg" class="form-control" />
      <span class="input-group-btn">
        <input class="btn btn-default" id="send" type="submit" value="Send" />
      </span>
    </div>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
