{% extends 'basic.html' %}

{% block content %}
<div class="container">
    <div class="col-md-8">
        <form method="post">
            {% csrf_token %}
            {{ form.post }}
            <br>
            <button type="submit">Share</button>
        </form>
        <h2>{{ text }}</h2>
        {% for post in posts %}
            <h1>{{ post.post }}</h1>
            <p>Posted by {{ post.user.get_username }} on {{ post.pub_date }}</p>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h2>Other People</h2>
        {% for user in users %}
            <a href="{% url 'view_profile_with_pk' pk=user.pk %}">
                <h3>{{ user.username }}</h3>
            </a>
            {% if not user in friends %}
                <a href="{% url 'send_friend_request' id=user.id %}">
                <button type="button" class="btn btn-success">Send friend request</button>
                </a>
            {% endif %}
        {% endfor %}
        <h2>Friends</h2>
        {% for friend in friends %}
            <a href="{% url 'view_profile_with_pk' pk=friend.pk %}">
                <h3>{{ friend.username }}</h3>
            </a>
        {% endfor %}
        <h2>Sent Friend requests</h2>
		{% for s_request in sent_friend_requests %}
            <a href="{% url 'view_profile_with_pk' pk=s_request.to_user.pk %}">
			    <h3>{{s_request.to_user.username }}</h3>
            </a>
		{% endfor %}
        <h2>Received Friend requests</h2>
		{% for r_request in rec_friend_requests %}
			<h3>{{ r_request.from_user.username }}</h3>
            <a href="{% url 'accept_friend_request' id=r_request.from_user.id %}">
            <button type="button" class="btn btn-success">Accept friend request</button>
            </a>
		{% endfor %}
    </div>
    
</div>
{% endblock %}
